name: Test & Deploy 

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose

      - name: Up project
        run: docker-compose -f docker-compose-stage.yml up -d

      - name: Run pytest
        run: docker-compose exec -T backend sh -c "pytest ."

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: success()

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Connect and Execute Commands
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          host: ${{ secrets.VPS_HOST }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            ls

